/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 /*///////////////////////// fullheight iframe ///////////////////////*/
html,
body,
.fullheight {
  height: 100%;
  margin: 0;
  padding: 0;
}

.fullheight,
.fullheight * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.fullheight .ui-content {
 height: inherit; /* inherit height without padding nor border *//* height: calc(100% - 89px);*/
}
 /*///////////////////////// fine fullheight iframe ///////////////////////*/
 html,body { height: 100%;}
 body,.ui-overlay-c,.ui-body-c {
    background:#e1e1e1!important;background-image:#e1e1e1!important;
}
/*.ui-mobile-viewport{
    -webkit-tap-highlight-color:#000!important;
}*/
}
 .alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}
 #richiesta {height: 200px!important}
        #popupDialog {padding: 30px}
        #popupDialog .ui-link {color:white!important}
        .small11 {font-size: 11px}
        .small18 {font-size:18px; padding-top:0;margin-bottom: -3px}
        .ui-body-c, .ui-overlay-c {text-shadow: 0 0 0!important}
        ul li {list-style-type: none;}
        ul {padding-left:0px; padding-right: 5px}
        .zerobtm{margin-bottom: 0!important}
.btn-outline-primary, .btn-outline-success {height:auto;}
#daticliente, #datiolicast {margin-top:20px}
/*#help iframe {display: block; width: 100%; height: 100%; border: none;}*/
 #page-signin , #menu , #eyecontrol, #help, #archivio {height: 100%}
#menu .btn {margin-bottom: 2%}
 #menu .container .btn{font-size: 2em}
 .container {padding-top: 2em}
 span {text-transform:none!important}
 .ui-bar-a {border:0!important;text-shadow:0 0 0!important;}
 .ui-header{background: none!important}
 .ui-bar-a {border: 0}
#totale, #consumo, #somma, #attuale {height:1.5em;font-size: 2em;}

 .btn-block.btn-default {margin-bottom: 100px}
 .center {text-align: center}
 .bi-header {
    border: 0px; position: fixed; width: 100%; top: 0px; left: 0px; z-index: 21;
}
 .bi-invisible {display:none;}
 .btn-yellow {background-color: #ffd800; }
 #btn-submit {margin-top: 80px}
 .blu {background-color: #02227b;color:white; }
 .ciano {background-color: #0099ee;padding: 20px}
 .white {background-color: white}
 div.ui-input-text {height: 40px}
 .ciano-txt {color:  #0099ee;}
 .ciano .form-control {margin-bottom: 20px}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
     linear,
     left top,
     left bottom,
     color-stop(0, #A7A7A7),
     color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    /*text-transform:uppercase;*/
    width:100%;
}

/* Portrait layout (default) */
.app {
    
    position:relative;             /* position in the center of the screen */
    left:50%;
    top:5px;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:60px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-15px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
.tright {text-align:right}